<a href="https://colab.research.google.com/github/SidddhantJain/FODS_LAB/blob/main/05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:

data = pd.read_csv('/content/drive/MyDrive/Dataset/Air_Quality.csv')

In [3]:
data

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,12/01/2010,25.30,NaN
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,12/01/2008,26.93,NaN
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,01/01/2015,19.09,NaN
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,01/01/2015,19.76,NaN
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,12/01/2008,22.83,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16213,130750,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,µg/m3,UHF42,211,Williamsburg - Bushwick,2005,01/01/2005,3.10,NaN
16214,130780,647,Outdoor Air Toxics - Formaldehyde,Annual average concentration,µg/m3,Borough,5,Staten Island,2005,01/01/2005,2.30,NaN
16215,131020,652,Cardiac and respiratory deaths due to Ozone,Estimated annual rate,"per 100,000",UHF42,504,South Beach - Tottenville,2005-2007,01/01/2005,7.50,NaN
16216,131026,652,Cardiac and respiratory deaths due to Ozone,Estimated annual rate,"per 100,000",Borough,5,Staten Island,2005-2007,01/01/2005,7.80,NaN
16217,325247,643,Annual vehicle miles traveled,million miles,per km2,CD,107,Upper West Side (CD7),2016,01/01/2016,50.00,NaN

In [4]:

print("Initial DataFrame shape:", data.shape)
print("First few rows of the DataFrame:")
print(data.head())
print("Data types:")
print(data.dtypes)

Initial DataFrame shape: (16218, 12)
First few rows of the DataFrame:
   Unique ID  Indicator ID                    Name Measure Measure Info  \
0     172653           375  Nitrogen dioxide (NO2)    Mean          ppb
1     172585           375  Nitrogen dioxide (NO2)    Mean          ppb
2     336637           375  Nitrogen dioxide (NO2)    Mean          ppb
3     336622           375  Nitrogen dioxide (NO2)    Mean          ppb
4     172582           375  Nitrogen dioxide (NO2)    Mean          ppb

  Geo Type Name  Geo Join ID                      Geo Place Name  \
0         UHF34          203  Bedford Stuyvesant - Crown Heights
1         UHF34          203  Bedford Stuyvesant - Crown Heights
2         UHF34          204                       East New York
3         UHF34          103                  Fordham - Bronx Pk
4         UHF34          104                Pelham - Throgs Neck

           Time Period  Start_Date  Data Value  Message
0  Annual Average 2011  12/01/2010       25.30      NaN
1  Annual Average 2009  12/01/2008       26.93      NaN
2  Annual Average 2015  01/01/2015       19.09      NaN
3  Annual Average 2015  01/01/2015       19.76      NaN
4  Annual Average 2009  12/01/2008       22.83      NaN
Data types:
Unique ID           int64
Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Join ID         int64
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
Message           float64
dtype: object

In [8]:
numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns
data[numeric_cols] = data[numeric_cols].fillna(data[numeric_cols].mean())

# Drop duplicate rows
data.drop_duplicates(inplace=True)

# Convert date columns to datetime if applicable
if 'Start_Date' in data.columns:
    data['Start_Date'] = pd.to_datetime(data['Start_Date'])

# Final DataFrame shape after cleaning
print("Cleaned DataFrame shape:", data.shape)

Cleaned DataFrame shape: (16218, 12)

In [10]:
print(data[numeric_cols].isnull().sum())

Unique ID           0
Indicator ID        0
Geo Join ID         0
Data Value          0
Message         16218
dtype: int64

In [11]:
# Option 1: Fill NaNs
data[numeric_cols] = data[numeric_cols].fillna(0)  # or use another method like fillna(data[numeric_cols].mean())

# Option 2: Drop rows with NaNs
data = data.dropna(subset=numeric_cols)

In [12]:
# Option 1: Fill NaNs
data[numeric_cols] = data[numeric_cols].fillna(0)  # or use another method like fillna(data[numeric_cols].mean())

# Option 2: Drop rows with NaNs
data = data.dropna(subset=numeric_cols)

In [13]:
data[numeric_cols] = data[numeric_cols].replace([np.inf, -np.inf], np.nan)
data = data.dropna(subset=numeric_cols)  # Drop any rows that became NaN
data[numeric_cols] = scaler.fit_transform(data[numeric_cols])

In [16]:
categorical_cols = data.select_dtypes(include=[object]).columns.tolist()
encoder = OneHotEncoder(sparse_output=False, drop='first')  # Use sparse_output instead of sparse
encoded_data = encoder.fit_transform(data[categorical_cols])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

data = data.drop(columns=categorical_cols).reset_index(drop=True)
data = pd.concat([data, encoded_df], axis=1)

print("Transformed DataFrame shape:", data.shape)
print("First few rows of the transformed DataFrame:")
print(data.head())

Transformed DataFrame shape: (16218, 203)
First few rows of the transformed DataFrame:
   Unique ID  Indicator ID  Geo Join ID Start_Date  Data Value  Message  \
0  -0.928429      -0.47606    -0.077220 2010-12-01    0.249703      0.0
1  -0.928745      -0.47606    -0.077220 2008-12-01    0.326151      0.0
2  -0.167486      -0.47606    -0.077220 2015-01-01   -0.041550      0.0
3  -0.167556      -0.47606    -0.077233 2015-01-01   -0.010127      0.0
4  -0.928759      -0.47606    -0.077232 2008-12-01    0.133858      0.0

   Name_Annual vehicle miles travelled (cars)  \
0                                         0.0
1                                         0.0
2                                         0.0
3                                         0.0
4                                         0.0

   Name_Annual vehicle miles travelled (trucks)  \
0                                           0.0
1                                           0.0
2                                           0.0
3                                           0.0
4                                           0.0

   Name_Asthma emergency department visits due to PM2.5  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   Name_Asthma emergency departments visits due to Ozone  ...  \
0                                                0.0      ...
1                                                0.0      ...
2                                                0.0      ...
3                                                0.0      ...
4                                                0.0      ...

   Time Period_Winter 2011-12  Time Period_Winter 2012-13  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   Time Period_Winter 2013-14  Time Period_Winter 2014-15  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   Time Period_Winter 2015-16  Time Period_Winter 2016-17  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   Time Period_Winter 2017-18  Time Period_Winter 2018-19  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   Time Period_Winter 2019-20  Time Period_Winter 2020-21
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

[5 rows x 203 columns]

In [17]:
data

,Unique ID,Indicator ID,Geo Join ID,Start_Date,Data Value,Message,Name_Annual vehicle miles travelled (cars),Name_Annual vehicle miles travelled (trucks),Name_Asthma emergency department visits due to PM2.5,Name_Asthma emergency departments visits due to Ozone,...,Time Period_Winter 2011-12,Time Period_Winter 2012-13,Time Period_Winter 2013-14,Time Period_Winter 2014-15,Time Period_Winter 2015-16,Time Period_Winter 2016-17,Time Period_Winter 2017-18,Time Period_Winter 2018-19,Time Period_Winter 2019-20,Time Period_Winter 2020-21
0,-0.928429,-0.476060,-0.077220,2010-12-01,0.249703,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.928745,-0.476060,-0.077220,2008-12-01,0.326151,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.167486,-0.476060,-0.077220,2015-01-01,-0.041550,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.167556,-0.476060,-0.077233,2015-01-01,-0.010127,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.928759,-0.476060,-0.077232,2008-12-01,0.133858,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16213,-1.122874,1.976202,-0.077219,2005-01-01,-0.791491,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16214,-1.122735,1.976202,-0.077245,2005-01-01,-0.829011,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16215,-1.121621,2.021281,-0.077182,2005-01-01,-0.585128,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16216,-1.121593,2.021281,-0.077245,2005-01-01,-0.571058,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16217,-0.220340,1.940140,-0.077232,2016-01-01,1.408147,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0